@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans/opensansregular-webfont.eot');
    src: url('../fonts/OpenSans/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/opensansregular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensansregular-webfont.woff') format('woff'),
         url('../fonts/OpenSans/opensansregular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/opensansregular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('../fonts/OpenSans/opensanssemibold-webfont.eot');
    src: url('../fonts/OpenSans/opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/opensanssemibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensanssemibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/opensanssemibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/opensanssemibold-webfont.svg#open_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/roboto-regular-webfont.eot');
    src: url('../fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_scriptbold';
    src: url('../fonts/NexaScript/fontfabric_-_nexa_script_bold-webfont.eot');
    src: url('../fonts/NexaScript/fontfabric_-_nexa_script_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaScript/fontfabric_-_nexa_script_bold-webfont.woff2') format('woff2'),
         url('../fonts/NexaScript/fontfabric_-_nexa_script_bold-webfont.woff') format('woff'),
         url('../fonts/NexaScript/fontfabric_-_nexa_script_bold-webfont.ttf') format('truetype'),
         url('../fonts/NexaScript/fontfabric_-_nexa_script_bold-webfont.svg#nexa_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Nexa_Script_Semi_Bold';
	src: url('../fonts/NexaScript/Fontfabric - Nexa Script Semi Bold.eot');
	src: local('☺'), url('../fonts/NexaScript/Fontfabric - Nexa Script Semi Bold.woff') format('woff'), url('../fonts/NexaScript/Fontfabric - Nexa Script Semi Bold.ttf') format('truetype'), url('../fonts/NexaScript/Fontfabric - Nexa Script Semi Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}