@media (max-width: 1200px) {
	/* Section-regulations ---------- */
	.title_h1 {
		
		&:after {
			right: 10px;
		} 
	}

	.regulations-block_arrow {

		&:after {
			right: -20px;
		}
	}
}

@media (max-width: 992px) {
   /* Header ---------- */
   header {
	   height: 50px;
	   padding: 10px 0;
   }

   .mob-menu {
	    display: inline-block;
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 1;

		span {
			height: 4px;
			border-radius: 2px;
			background-color: #ffffff;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translate(0, -50%);
			transition: height .2s;

			&:after,
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				height: 4px;
				border-radius: 2px;
				background-color: #ffffff;
				transition: transform .3s;
			}

			&:before {
				transform: translateY(-9px);
			}

			&:after {
				transform: translateY(9px);
			}
		}

		&_active {

			span {
				height: 0;

				&:before {
					transform: rotate(-45deg);
  					transform-origin: center;
				}
	
				&:after {
					transform: rotate(45deg);
  					transform-origin: center;
				}
			}
		}
   }

   .menu-wrap {
		transform: translateY(-130%);
		transition: transform .3s;
		background-color: #381f44;
		padding: 100px 15px;
		position: relative;
		min-height: 450px;
		height: 0;
		margin: 0 -20px;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;

		&_active {
			transform: translateY(0%);
		}
    }

   .menu {
		height: 0;
		min-height: 240px;
		position: absolute;
		left: 0;
		right: 0;
		display: block;
    	text-align: center;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 0;

	   &__item {
		   display: block;

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 30px;
			}
		}
	}
	   
	.logo {
		display: none;

		&_mob {
			display: block;
			position: absolute;
			top: 8px;
			left: 50%;
			transform: translate(-50%, 0);
			margin: 0;

			img {
				margin-top: 0;
			}
		}
	}

	/* Section-heading ---------- */
	.head-section {
		height: 400px;
	}

	.heading-img-wrap {
		top: 80px;
	}
 
	/* Section-regulations ---------- */
	.regulations-section {
		margin-top: -195px;
		padding-bottom: 400px;
	}
	
	.container_regulations {
		top: 205px;
	}

	.title {

		&_h1 {

			a {
				display: none;
			}
		}
	}

	.regulations-content {
		margin: 60px 0 0;

		&__wrap {
			flex-direction: column;
    		align-items: center;
		}
	}

	.regulations-block {

		&__img {

			img {
				max-height: 180px;
			}
		}

		&_arrow {
			margin-bottom: 50px;

			&:after {
				right: 45%;
				transform: rotate(90deg);
				top: 105%;
			}
		}
	}
	
	.regulations-title {
		font-size: 35px;
	}

	.regulation-text {
		font-size: 18px;
	}

	/* Section-prize ---------- */
	.prize-section {
		margin-top: -280px;
    	padding-bottom: 365px;
	}

	.container_prize {
		top: 210px;
	}

	.prize-content {
		flex-direction: column;
		align-items: center;
		
		&__item {

			&_car {

				&:after {
					left: -75px;
				}
			}
		}
	}

	/* Section-winner ---------- */
	.winner-section {
		margin-top: -210px;
    	padding-bottom: 380px;
	}

	.container_winner {
		top: 210px;

		&:after,
		&:before {
			display: none;
		}
	}

	.inner-wrap_winner {

		&:after,
		&:before {
			display: none;
		}
	}

	.winner-content {
		top: 40px;
		margin: 0px -35px;

		&:after,
		&:before {
			display: none;
		}

		&__text {
			margin: 35px 0 40px;

			&_points {
				margin-right: -45px;
			}
		}
	}

	/* Section-product ---------- */
	.container_product {
		top: 135px;
	}

	.product-content {

		li:nth-child(n+2) {
			margin-left: 25px;
		}
	}

}

@media (max-width: 768px) {
	/* Section-heading ---------- */
	.head-section {
		height: 305px;
		overflow: hidden;
	}

	.heading-img-wrap {
		top: 50px;

		img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			max-width: 570px;
		}
	}

	/* Section-regulations ---------- */
	.regulations-section {
		margin-top: -140px;
        padding-bottom: 200px;
		background: url("../img/bg_yellow_mob.png") no-repeat center center;
		background-size: cover;
	}

	.container_regulations {
		top: 82px;
	}

	.title {
		font-size: 30px;

		&_h1 {
			font-size: 30px;
			height: 41px;
		}
	}

	.regulations-content {
		margin: 35px 0 0;

		&__period {
			font-size: 21px;
		}
	}

	.regulations-block {
		width: 295px;

		&__img {

			img {
				max-height: 130px;
			}
		}

		&_arrow {

			&:after {
				height: 25px;
			}
		}
	}

	.regulations-title {
		font-size: 21px;
	}

	.regulation-text {
		font-size: 16px;
	}

	/* Btn ---------- */
	.btn {
		min-width: 140px;
		border-radius: 25px;
		padding: 10px 25px;
		font-size: 16px;

		&_cook {
			min-width: 84px;
			align-self: center;
		}

		&_form {
			min-width: 200px;
			padding: 15px 45px;
		}

		&_input {
			min-width: auto;
			padding: 0;
			border-radius: 50%;
		}
	}

	/* Section-prize ---------- */
	.prize-section {
		margin-top: -115px;
        padding-bottom: 230px;
	}

	.container_prize {
		top: 85px;

		.title {
			height: 31px;
		}
	}

	.prize-content {

		&__item {

			&_card {
				margin-top: 25px;
			}

			&_car {
				padding: 60px 20px;
				width: 284px;
				height: 284px;
				margin-top: -40px;
    			margin-left: 70px;
				
				&:after {
					width: 405px;
					height: 180px;
					left: -50px;
					bottom: -50px;
				}
			}
		}
	}

	.inner-item__prize {

		&_green {
			width: 219px;
			height: 219px;
			padding: 40px 20px;
			   
			    .text-item {

					&:after {
						width: 35px;
						height: 47px;
						bottom: -12px;
						left: 0;
					}
			    }
		}

		&_red {
			width: 247px;
			height: 247px;
			margin-left: -45px;
			padding: 40px 20px;

			&:after {
				width: 212px;
				height: 150px;
				bottom: -10px;
				left: -150px;
			}

			.text-item {

				&:after {
					width: 29px;
					height: 35px;
					bottom: -60px;
					left: 70px;
				}
			}
		}
	}

	.textblod-item {
		font-size: 21px;
	}

	.title-item {
		font-size: 40px;
		letter-spacing: -3.24px;
	}

	.text-item {
		font-size: 16px;
	}

	/* Section-winner ---------- */
	.winner-section {
		margin-top: -140px;
        padding-bottom: 150px;
		background: url("../img/bg_yellow_mob-winner.png") no-repeat center center;
		background-size: cover;
	}

	.container_winner {
		top: 95px;

		.title {
			height: 31px;
		}
	}

	.winner-content {
		top: 0;
		flex-direction: column;
		align-items: center;
		
		&__text {
			margin: 0 0 50px;

			&_points {
				margin-right: 0;
				margin: 35px 0 -30px;
			}
		}
	}

	/* Section-product ---------- */
	.product-section {
		padding-bottom: 210px;
	}

	.container_product {
		top: 160px;
	}

	.product-content {
		flex-direction: column;
		align-items: center;

		li:nth-child(n+2) {
			margin-left: 0;
			margin-top: 50px;
		}
	}

	/*Slider ----------------------------*/ 
    .product-slide-wrap {
		margin-top: 30px;
	}

	.swiper-slide {

		img {
			max-height: 270px;
		}
	}

	.product-text {
		font-size: 16px;
	}

	/* Footer ---------- */
	.footer {
		margin-top: 0;

		&__nav {
			flex-direction: column;
			align-items: center;

			li {

				&+li {
					margin-left: 0;
					margin-top: 15px;
				}

				&:before {
					top: -8px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}

		&__period {
			margin-top: 30px;
		}
	}

	/* Cookies ---------- */
	.container_cookies {
		flex-direction: column;
		align-items: center;
	}

	.cookies__text {
		text-align: center;
	}

	/* Popups ---------- */
	.popup {

		&__wrap {
			margin: 80px auto 0;
		}

		&__close {
			top: -75px;
			right: 15px;
		}
	
		form {

			textarea,
			input {
				max-width: 300px;
			}
		}
	}

	.popup-title {

		&__title {
			font-size: 28px;
		}

		&__subtitle {
			font-size: 16px;
		}
	}

	/* Rules ----------------------------*/ 
	.step {
		font-size: 16px;

		p {
			width: 235px;
		}

		&_first {

			p {
				width: 290px;
			}
		}

		&_third {
			
			&:after {
				top: -50px;
				bottom: auto;
				left: 130px;
				transform: rotate(25deg); 
			}
		}

		&_fourth {

			&:after {
				left: auto;
				top: -50px;
				bottom: auto;
				right: 130px;
				transform: rotate(-25deg);
			}
		}
	}

	.prize-wrap {

		p {
			width: 200px;
		}
	}

	/* Table ----------------------------*/ 
	.table {
		width: 100%;
	}

	/* Scroll ----------------------------*/ 
	.winner-wrap-table > .scroll-element.scroll-y {
		right: 5px;
	}
}

@media (max-width: 480px) {
    /* Section-heading ---------- */
	.head-section {
		height: 230px;
	}

	.heading-img-wrap {
		top: 70px;

		img {
			max-width: 435px;
		}
	}

	/* Section-regulations ---------- */
	.regulations-section {
		margin-top: -80px;
    	padding-bottom: 175px;
	}

	.container_regulations {
		top: 80px;
	}
	
	.title {
		font-size: 27px;

		&_h1 {
			font-size: 27px;
			height: 34px;
		}
	}

	.regulations-block {
		width: 285px;

		&__text {
			margin-left: 20px;
		}

		&_arrow {
			margin-bottom: 40px;
		}
	}

	/* Section-prize ---------- */
	.prize-section {
		padding-bottom: 220px;
		margin-top: -108px;
	}

	.container_prize {
		top: 80px;
	}

	.inner-item__prize_green {

		.text-item {

			&:after {
				bottom: 10px;
    			left: -35px;
			}
		}
	}

	.inner-item__prize_red {
		margin-left: -65px;

		&:after {
			bottom: -30px;
			left: -130px;
		}

		.text-item {

			&:after {
				bottom: -50px;
				left: 15px;
			}
		}
	}

	.prize-content__item_car {
		margin-top: -15px;
	}

	.text-item {
		width: 85px;
    	margin: 5px auto 0;
	}

	.title-item {
		margin-bottom: -15px;
	}

	/* Section-winner ---------- */
	.winner-section {
		margin-top: -140px;
        padding-bottom: 115px;
	}

	.container_winner {
		top: 90px;
	}

	/* Section-product ---------- */
	.container_product {
		top: 158px;
	}

	/* Popups ---------- */
	.popup {

		&__wrap {

			&:after {
				left: -50px;
				right: -50px;
			}
		}
	}

	.popup-title__subtitle {
		width: 90%;
	}

	/* Rules ----------------------------*/ 
	.prize-wrap {

		.step_third {
			margin-left: 0;

			&:after {
				left: 105px;
			}
		}

		.step_fourth {

			&:after {
				right: 105px;
			}
		}

		.step {
			width: 170px;
		}

		p {
			width: 155px;
		}
	}

	/* Table ----------------------------*/ 
	.table {
		text-align: left;
		max-width: 350px;

		thead {
			display: none;
		}

		tbody {

			tr {
				display: flex;
				flex-direction: column;
				padding-left: 50px;

				&:nth-child(n+2) {
					margin-top: 30px;
				}

				td {
					display: block;
				}
			}
		}
	}

	.personal-card {
		font-size: 18px;
		font-weight: 700;

		.personal-number {

			&:before {
				display: block;
				left: -50px;
			}
		}
	}

	.personal-date {
		order: 1;
	}

	.gift {
		order: 2;
	}
}

@media (max-height: 500px) {
	.menu-wrap {
		padding: 75px 15px 50px;
    	min-height: 375px;
	}

	.menu {
		min-height: 250px;
	}
}

@media (max-height: 450px) {
	/* Header ---------- */
	.menu-wrap {
		padding: 60px 15px 15px;
		min-height: 230px;
	}

	.menu {
		min-height: 150px;
	}
}