/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #381f44;
	font-size: 18px;
	color: $mainColor;
	font-family: $roboto;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

input, select, textarea {
    border: none;
    outline: none;
	border-radius: 0;
	-webkit-appearance: none;
}

textarea {
    resize: none;
    overflow: auto;
}

::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

.container {
    width: 100%;
    padding: 0 20px;
    max-width: 1100px;
	margin: 0 auto;
	
	&:hover .btn {
		will-change: transform;
	}
}