// Fonts
$openSansR: 'open_sansregular', sans-serif;
$openSansSB: 'open_sans_semiboldregular', sans-serif;
$roboto: 'robotoregular', sans-serif;
$nexaScriptB: 'nexa_scriptbold', sans-serif;
$nexaScriptSB: 'Nexa_Script_Semi_Bold', sans-serif;

// Color
$mainColor: #5c3070;
$btnColor: #5c3070;
$btnColor2: #fce83d;
$headingColor: #d13323;
$textColor: #ffffff;
$textColor2: #fce83d;
$bgColor: #5c3070;
$bgColor2: #ffffff;