@import "_var.scss";
@import "_fonts.scss";
@import "_reset.scss";

/* Style -------------------------------------------------------------------- */
.noscroll {
    position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}

main {
	width: 100%;
    max-width: 2200px;
	margin: 0 auto;
	background-color: $bgColor2;
}

/* Header ---------- */
header {
	background-color: $bgColor;
	height: 60px;
	position: fixed;
	top: 0;
	max-width: 2200px;
    width: 100%;
	z-index: 10;
}

.mob-menu {
	display: none;
}

.menu {
	display: flex;
	justify-content: center;
	height: 60px;
	padding: 15px 0 20px;

	&__item {
		color: $textColor;
		transition: color .2s ease;
		outline: none;

		&:hover {
			color: #fce83d;
		}

		&:nth-child(n+2) {
			margin-left: 40px;
		}
	}

	.menu__item_no-margin {
		margin-left: 0;
	}

	.menu__item_min-margin {
		margin-left: 30px;
	}
}

.active {
	color: #fce83d;
}

.logo {
	margin: 0 85px;

	img {
		max-height: 92px;
		margin-top: -8px;
	}

	&_mob {
		display: none;
	}
}

/* Section-heading ---------- */
.head-section {
	height: 475px;
	background-image: linear-gradient(to top, #bddeea 0%, #52b1d2 100%);
}

.heading-img-wrap {
	position: relative;
	top: 90px;
}

/* Section-regulations ---------- */
.regulations-section {
	text-align: center;
	background: url("../img/bg_yellow.png") no-repeat center center;
	background-size: cover;
	position: relative;
    z-index: 1;
	margin-top: -145px;
	padding-bottom: 345px;
}

.container_regulations {
	position: relative;
	top: 150px;
	z-index: 1;
}

.title {
	text-align: center;
	position: relative;
	font-family: $nexaScriptB;
	font-size: 46px;
	color: $headingColor;
	letter-spacing: -0.56px;

	&_h1 {
		font-family: $nexaScriptSB;
		font-size: 56px;
		height: 77px;

		span {
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform-origin: center -38.2857em 0px;
		}

		.char1 {
			transform: translateX(-0.391462em) rotate(7.38328deg);
		}

		.char2 {
			transform: translateX(-0.256417em) rotate(6.41371deg);
		}

		.char3 {
			transform: translateX(-0.253488em) rotate(5.65062deg);
		}

		.char4 {
			transform: translateX(-0.250419em) rotate(4.89651deg);
		}

		.char5 {
			transform: translateX(-0.207868em) rotate(4.21067deg);
		}

		.char6 {
			transform: translateX(-0.362444em) rotate(3.35717deg);
		}

		.char7 {
			transform: translateX(-0.223912em) rotate(2.47967deg);
		}

		.char8 {
			transform: translateX(-0.111468em) rotate(1.97777deg); 
		}

		.char9 {
			transform: translateX(-0.246373em) rotate(1.44225deg);
		}

		.char10 {
			transform: translateX(-0.256417em) rotate(0.689808deg);
		}

		.char11 {
			transform: translateX(-0.111468em) rotate(0.139256deg);
		}

		.char12 {
			transform: translateX(-0.435965em) rotate(-0.679995deg);
		}

		.char13 {
			transform: translateX(-0.264369em) rotate(-1.72807deg);
		}

		.char14 {
			transform: translateX(-0.362444em) rotate(-2.66611deg);
		}

		.char15 {
			transform: translateX(-0.222935em) rotate(-3.54215deg);
		}

		.char16 {
			transform: translateX(-0.252372em) rotate(-4.25347deg);
		}

		.char17 {
			transform: translateX(-0.250419em) rotate(-5.00591deg);
		}

		.char18 {
			transform: translateX(-0.206473em) rotate(-5.68966deg);
		}

		.char19 {
			transform: translateX(-0.226981em) rotate(-6.33834deg);
		}

		.char20 {
			transform: translateX(-0.247489em) rotate(-7.0484deg);
		}

		.char21 {
			transform: translateX(-0.183873em) rotate(-7.69394deg);
		}

		a {
			position: absolute;
			top: -45px;
			right: 25px;
			width: 140px;
			height: 140px;
			background: url("../img/5ka.png") no-repeat center center;
			background-size: contain;
		}
	}
}

.regulations-content {
	margin: 70px 0 0;

	&__period {
		font-family: $nexaScriptB;
		font-size: 38px;
	}

	&__wrap {
		margin-top: 30px;
		display: flex;
		justify-content: space-around;
	}
}

.regulations-block {
	display: flex;
	justify-content: space-between;

	&__img {
		flex-shrink: 0;

		img {
			max-height: 220px;
		}
	}

	&__text {
		margin-left: 25px;
		text-align: left;
		align-self: center;
	}

	&_arrow {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: -35px;
			transform: translate(0, -50%);
			background: url("../img/svg/arrow.svg") no-repeat center center;
			width: 20px;
			height: 30px;
			background-size: contain;
		}
	}
}

.regulations-title {
	font-family: $nexaScriptSB;
	font-size: 38px;
}

.regulation-text {
	font-size: 21px;
	margin-bottom: 12px;
}

/* Section-prize ---------- */
.prize-section {
	background-image: linear-gradient(to top, #52b1d2 0%, #bddeea 100%);
	position: relative;
	margin-top: -205px;
	padding-bottom: 290px;
	overflow: hidden;

	&:hover .prize-content__item_car:after,
	&:hover .inner-item__prize_red:after {
		will-change: transform;
	}
}

.container_prize {
	@extend .container_regulations;
	top: 145px;

	.title {
		height: 47px;

		span {
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform-origin: center -46.8261em 0px;
		}

		.char1 {
			transform: translateX(-0.457711em) rotate(1.35388deg);
		}

		.char2 {
			transform: translateX(-0.263587em) rotate(0.471314deg);
		}

		.char3 {
			transform: translateX(-0.257303em) rotate(-0.16604deg);
		}

		.char4 {
			transform:  translateX(-0.216712em) rotate(-0.746039deg);
		}

		.char5 {
			transform: translateX(-0.368886em) rotate(-1.46257deg);
		}
	}
}

.prize-content {
	display: flex;
	justify-content: space-between;
	margin-top: -35px;

	&__item {
		color: $textColor;
		text-align: center;
		position: relative;

		&_card {
			margin-top: 50px;

			&:hover .inner-item__prize_red:after {
				transform: scale(1.1);
			}
		}

		&_car {
			padding: 100px 20px;
			width: 439px;
			height: 439px;
			border-radius: 50%;
			background-color: $bgColor;
			flex-shrink: 0;

			&:after {
				content: "";
				position: absolute;
				bottom: -80px;
    			left: -170px;
				background: url("../img/Mazda_6.png") no-repeat center center;
				background-size: contain;
				width: 626px;
				height: 277px;
				transition: transform .2s ease;
			}

			&:hover:after {
				transform: scale(1.1);
			}
		}
	}
}

.inner-item {
	display: flex;
	justify-content: space-between;

	&__prize {
		position: relative;
		padding: 50px 20px;
		border-radius: 50%;

		&_green {
			background-color: #4bad58;
			width: 303px;
			height: 303px;

			.text-item {
				
				&:after {
					content: "";
					position: absolute;
					bottom: -25px;
    				left: 15px;
					background: url("../img/curve_arrow.png") no-repeat center center;
					background-size: contain;
					width: 48px;
					height: 64px;
				}
			}
		}

		&_red {
			padding: 80px 20px;
			margin-top: 40px;
			margin-left: -75px;
			width: 342px;
			height: 342px;
			background-color: #d13323;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				bottom: -65px;
				left: -240px;
				background: url("../img/Card.png") no-repeat center center;
				background-size: contain;
				width: 339px;
				height: 240px;
				transition: transform .2s ease;	
			}
			
			.text-item {

				&:after {
					content: "";
					position: absolute;
					bottom: -75px;
    				left: 110px;
					background: url("../img/curve_arow2.png") no-repeat center center;
					background-size: contain;
					width: 40px;
					height: 48px;
				}
			}
		}
	}
}

.title-item {
	color: #fce83d;
	font-family: $nexaScriptB;
	font-size: 60px;
	letter-spacing: -3.5px;
	margin-bottom: -25px;
}

.textblod-item {
	font-family: $nexaScriptSB;
	font-size: 34px;
}

.text-item {
	position: relative;

	p {
		line-height: 20px;
	}
}

/* Section-winner ---------- */
.winner-section {
	background: url("../img/bg_yellow.png") no-repeat center center;
	background-size: cover;
	position: relative;
    z-index: 1;
	margin-top: -155px;
	padding-bottom: 265px;
	overflow: hidden;
}

.container_winner {
	@extend .container_regulations;
	top: 185px;

	.title {
		height: 50px;

		span {
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform-origin: center -46.8261em 0px;
		}

		.char1 {
			transform: translateX(-0.457711em) rotate(2.8736deg);
		}

		.char2 {
			transform: translateX(-0.261209em) rotate(1.99394deg);
		}

		.char3 {
			transform: translateX(-0.261209em) rotate(1.35472deg);
		}

		.char4 {
			transform: translateX(-0.232677em) rotate(0.750403deg);
		}

		.char5 {
			transform: translateX(-0.266304em) rotate(0.139856deg);
		}

		.char6 {
			transform: translateX(-0.257303em) rotate(-0.500823deg);
		}

		.char7 {
			transform: translateX(-0.383152em) rotate(-1.28448deg);
		}

		.char8 {
			transform: translateX(-0.232677em) rotate(-2.038deg);
		}

		.char9 {
			transform: translateX(-0.217731em) rotate(-2.58911deg);
		}

		.char10 {
			transform: translateX(-0.236243em) rotate(-3.14458deg);
		}
	}

	&:after,
	&:before {
		content: "";
		position: absolute;
		bottom: 120px;
		right: -180px;
		background-color: #fdf28e;
		border-radius: 50%;
		width: 67px;
		height: 67px;
	}

	&:before {
		bottom: 90px;
		right: auto;
		left: -220px;
		width: 62px;
		height: 62px;
	}
}

.inner-wrap_winner {
	position: relative;

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 80px;
		right: -90px;
		width: 91px;
		height: 91px;
		background-color: #fdf28e;
		border-radius: 50%;
	}

	&:before  {
		right: auto;
		left: -140px;
		width: 114px;
		height: 114px;
	}
}

.winner-content {
	text-align: center;
	position: relative;
	display: flex;
    justify-content: center;

	&:after,
	&:before {
		content: "";
		position: absolute;
		z-index: -2;
		bottom: 65px;
    	right: 25px;
		border-radius: 50%;
		background-color: #fdf28e;
		width: 199px;
		height: 199px;
	}

	&:before {
		bottom: auto;
		right: auto;
		top: 35px;
		left: 0;
		width: 259px;
		height: 259px;
	}


	&__text {
		border-radius: 50%;
		width: 426px;
		height: 426px;
		background-color: $bgColor2;
		margin: 35px 0 50px;
		padding: 50px 40px;
		position: relative;

		&_points {
			margin-right: 40px;
			background-color: $bgColor;

			.text-top {
				color: $textColor;

				&:after {
					background: url("../img/svg/cards-icon.svg") no-repeat center center;
					background-size: contain;
					width: 65px;
					height: 40px;
				}
			}

			.text-bottom {
				color: $textColor;
			}

			.btn {
				background-color: $bgColor2;
				color: $mainColor;
			}
		}

		&_winner {
			display: none;
		}
	}
}

.text-top {
	padding-top: 55px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		background: url("../img/svg/car.svg") no-repeat center center;
		background-size: contain;
		width: 59px;
		height: 40px;
	}

	&_info {
		font-family: $nexaScriptSB;
		font-size: 34px;
	}

	&_title {
		padding-top: 70px;
	}
}

.text-bottom {
	margin: 25px 0 40px;

	&_nexa {
		font-family: $nexaScriptB;
		font-size: 40px;

		p {
			line-height: 45px;
		}
	}
}

.winner-active {

	.winner-content__text {
		display: none;

		&_points {
			display: block;
		}
	}

	.winner-content__text_winner {
		display: block;
	}
}

/* Section-product ---------- */
.product-section {
	background-image: linear-gradient(to top, #ffffff 0%, #56b3d3 100%);
	position: relative;
	margin-top: -205px;
	padding-bottom: 225px;

	&:hover .product-item {
		will-change: transform;
	}
}

.container_product {
	@extend .container_regulations;
	top: 145px;

	.title {
		height: 48px;

		span {
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform-origin: center -46.8261em 0px;
		}

		.char1 {
			transform: translateX(-0.457711em) rotate(2.04548deg);
		}

		.char2 {
			transform: translateX(-0.263587em) rotate(1.16291deg);
		}

		.char3 {
			transform: translateX(-0.261209em) rotate(0.520772deg);
		}

		.char4 {
			transform: translateX(-0.266304em) rotate(-0.124686deg);
		}

		.char5 {
			transform: translateX(-0.259171em) rotate(-0.767651deg);
		}

		.char6 {
			transform: translateX(-0.238281em) rotate(-1.37633deg);
		}

		.char7 {
			transform: translateX(-0.383152em) rotate(-2.1367deg);
		}
	}
}

.product-content {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;

	li {
		display: flex;

		&:nth-child(n+2) {
			margin-left: 60px;
		}
	}
}

.product-item {
	display: block;
	align-self: flex-end;
	transition: transform .2s ease;
	
	img {
		max-height: 383px;
	}

	&:hover {
		transform: scale(1.1);
	}
}

/* Btn ---------- */
.btn-wrap {
	text-align: center;
    position: relative;
}

.btn {
	display: inline-block;
	min-width: 200px;
	padding: 15px 45px;
	color: $textColor;
	background-color: $btnColor;
	border-radius: 50px;
	transition: all .2s ease;
	font-size: 18px;

	&_big {
		min-width: 240px;
		padding: 12px 45px;
	}

	&:hover {
		transform: scale(1.1);
		color: #fce83d;
		background-color: #381f44;
	}

	&_cook {
		min-width: 84px;
		color: #5c3070;
		background-color: #fce83d;
		padding: 10px 30px;
		align-self: flex-start;
		margin-top: 10px;
		text-align: center;

		&:hover {
			transform: none;
			color: #5c3070;
			background-color: #fce83d;
		}
	}

	&_input {
		width: 28px;
		height: 28px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: 18px;
		min-width: auto;
		padding: 0;
		border-radius: 50%;

		&:before,
		&:after {
			content: "";
			position: absolute;;
			top: 4px;
			left: 50%;
			transform: translate(-50%, 0) rotate(-45deg);
			height: 11px;
			width: 3px;
			border-radius: 10px;
			background-color: $bgColor2;
		}

		&:after {
			transform: translate(-50%, 0) rotate(45deg);
			top: 11px;
		}

		&:hover {
			transform: translate(0, -50%) scale(1.0);
			color: $textColor;
			background-color: $btnColor;
		}
	}
}

/* Footer ---------- */
.footer {
	margin-top: 50px;
    padding: 20px 0 15px;
	position: relative;

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: #e20509;;
                height: 3px;
                width: 3px;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: -11px;
            }

            &:first-child::before {
                display: none;
            }

            &+li {
                margin-left: 20px;
			}
			
			a {
				color: $mainColor;
				font-size: 16px;
			}
        }
	}
	
	&__period {
		margin-top: 15px;
        font-size: 12px;
        text-align: center;
	}

    &__logo {
        margin-top: 30px;
		text-align: center;
		
		img {
			max-height: 60px;
		}
    }

    &__author {
        margin-top: 15px;
        font-size: 12px;
        text-align: center;
    }
}

/* Cookies ---------- */
.cookies {
    position: fixed;
    bottom: 0;
	max-width: 2200px;
    width: 100%;
    background-color: $bgColor;
    padding: 20px 0 25px;
    transition: all .2s linear;
    opacity: 0;
    z-index: -1;
	color: $textColor;
	font-size: 16px;

    &__text {
    	width: 85%;

        a {
            color: #38b0da;
        }
    }

    &.js-show {
        opacity: 1;
        z-index: 99;
    }
}

.container_cookies {
	max-width: 850px;
	display: flex;
	justify-content: space-between;
}

/* Popups ---------- */
.popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    z-index: 11;
    visibility: hidden;
    transition: opacity .3s 0s, visibility 0s .3s;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	
	&.js-popup-show {
        opacity: 1;
		visibility: visible;
        transition: opacity .3s 0s, visibility 0s 0s;

        .popup__wrap {
            transform: translateY(0);
		}
	}

	&__wrap {
		position: relative;
		margin: 140px auto 0;
		z-index: -1;
		max-width: 660px;
        width: 100%;
        padding: 30px 10px 20px;
        transform: translateY(-10%);
        transition-duration: .3s;
		background-color: $bgColor2;
		border-top: 20px solid #fce83d;

		&:before,
		&:after {
			content: "";
			position: absolute;
		}

		&:before {
			top: -40px;
			left: 50%;
			transform: translate(-50%, 0);
			background: url("../img/rainbow.png") no-repeat center center;
			background-size: contain;
			width: 84px;
			height: 36px;
		}

		&:after {
			bottom: -59px;
			left: 0;
			right: 0;
			border-radius: 0px 0px 50% 50% / 0px 0px 100% 100%;
			height: 60px;
			background-color: $bgColor2;
		}

		&_big {
			max-width: 960px;
		}
    }

	&__close {
        position: absolute;
        top: -65px;
        right: -5px;
        width: 40px;
        height: 40px;
        text-align: center;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            height: 35px;
    		width: 5px;
            background-color: $bgColor2;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(135deg);
        }
	}
	
	form {
		text-align: center;

		input,
		textarea {
			border-radius: 30px;
			border: 1px solid $bgColor;
			color: $mainColor;
		}

		input {
			max-width: 280px;
			width: 100%;
			height: 60px;
			text-align: center;
			font-size: 21px;
		}

		textarea {
			max-width: 360px;
			width: 100%;
			height: 200px;
			font-size: 21px;
			padding: 18px 30px;
		}

		.btn-wrap {
			margin-top: 25px;
		}
	}
}

.popup-title {
	padding-bottom: 10px;

	&__title {
		font-family: $nexaScriptSB;
		font-size: 32px;

		span {
			display: block;
		}
	}

	&__subtitle {
		margin: 15px auto;
		width: 60%;
	}
}

.card-wrap {
	margin-top: 25px;
}

.forms-tips {
	color: #898989;
	font-family: $openSansR;
	font-size: 14px;
	margin-bottom: 5px;
}

.product-wrap {
	margin-top: 5px;
	text-align: center;
}

/* Slider ----------------------------*/ 
.product-slide-wrap {
	width: 95%;
	margin-top: 50px;
	padding-bottom: 50px;

	.swiper-pagination {
		bottom: 0;
	}

	.swiper-pagination-bullet {
		opacity: 1;
		width: 12px;
		height: 12px;
		background-color: #fce83d;
	}

	.swiper-pagination-bullet-active {
		background-color: $bgColor;
	}
}

.swiper-slide {

	img {
		max-height: 320px;
	}
}

.product-text {
	width: 240px;
	margin: 10px auto 0;
	font-family: $openSansSB;
}

.swiper-button-next,
.swiper-button-prev {
	background: url("../img/svg/arrow.svg") no-repeat center center;
	width: 20px;
	height: 28px;
	top: 38%;
	outline: none;
}

.swiper-button-prev {
	transform: rotate(180deg);
}

/* Rules ----------------------------*/ 
.rules-wrap {
	text-align: center;

	p {
		a {
			color: #38b0da;
		}
	}
}

.step {
	padding-top: 150px;
	margin: 20px 0 60px;
	position: relative;

	p {
		margin: 0 auto;
		width: 57%;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 140px;
		height: 140px;
		background-size: contain;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -45px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 28px;
		height: 29px;
		background: url("../img/arrow_popup.png") no-repeat center center;
		background-size: contain;
	}

	&_first {

		&:before {
			background: url("../img/for_prize1.png") no-repeat center center;
			background-size: contain;
			width: 174px;
		}
	}

	&_second {

		&:before {
			background: url("../img/for_prize2.png") no-repeat center center;
			background-size: contain;
		}

		&:after {
			display: none;
		}

		p {
			width: 42%;
		}
	}

	&_third {
		margin-left: 30px;

		&:before {
			background: url("../img/for_prize3.png") no-repeat center center;
			background-size: contain;
		}

		&:after {
			top: -50px;
			bottom: auto;
			left: 170px;
			transform: rotate(25deg); 
		}

		p {
			width: 90%;
		}
	}

	&_fourth {

		&:before {
			width: 160px;
			background: url("../img/for_prize4.png") no-repeat center center;
			background-size: contain;
		}

		&:after {
			left: auto;
			top: -50px;
			bottom: auto;
			right: 200px;
			transform: rotate(-25deg);
		}

		p {
			width: 80%;
		}
	}
}

.prize-wrap {
	display: flex;
	justify-content: center;
}

.info-wrap {
	font-size: 14px;

	&__period {
		width: 75%;
        margin: 0 auto;
	}

	&__question {
		margin-top: 25px;
	}
}

/* Winners ----------------------------*/ 
.winners-inner-wrap {
	text-align: center;

	.input-wrap {
		max-width: 320px;
		margin: 0 auto;
		position: relative;

		input {
			max-width: 100%;
			padding: 0 45px;
		}
	}
}

/* Table ----------------------------*/ 
.winner-wrap-table {
	margin-top: 45px;
	height: 330px;
}

.table {
    margin: 0 auto;
    width: 80%;
	font-size: 16px;
	border-collapse: separate;
	border-spacing: 20px;
	
	thead {

		th {
			color: #898989;
			font-family: $openSansR;
			font-size: 14px;
		}
	}
}

.personal-number {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 34px;
		height: 21px;
		background: url("../img/cards.png") no-repeat center center;
		background-size: contain;
		display: none;
	}
}

/* Scroll ----------------------------*/ 
.winner-wrap-table > .scroll-element,
.winner-wrap-table > .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}

.winner-wrap-table > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.winner-wrap-table > .scroll-element.scroll-x {
	display: none !important;
}

.winner-wrap-table > .scroll-element.scroll-y {
    height: 100%;
    right: 20px;
    top: 0;
    width: 8px;
}

.winner-wrap-table > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.winner-wrap-table > .scroll-element .scroll-element_track {
    background-color: #fce83d;
}

.winner-wrap-table > .scroll-element .scroll-bar {
    background-color: $bgColor;
}

.winner-wrap-table > .scroll-element:hover .scroll-bar {
    background-color: $bgColor;
}

.winner-wrap-table > .scroll-element.scroll-draggable .scroll-bar {
    background-color: $bgColor;
}

/* Media -------------------------------------------------------------------- */
@import "_media.scss";